.node-expanding-page .field-collection-view { margin-left: 0; }

.expand-trigger {
    display:block;
    position: relative;
    cursor:pointer;
    padding-left: 20px;
    margin: 0;
}

.expand-trigger:before {
    display: block;
    width: 20px;
    position: absolute;
    left: 5px;
    top: -5px;
    font-size: 1.5em;
    font-weight: normal;
    content: "+";
}

.expand-trigger.expanded:before { content: "-"; }

.expand-field { padding: 20px 0 0 20px; }